@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* THE MAGIC TRANSITION */
* {
  @apply transition-colors duration-500;
}

/* Ensure the body takes the full theme background */
body {
  @apply bg-[#FAFBFF] dark:bg-darkBg text-gray-900 dark:text-gray-100;
}